name: Publish
on:
  push:
    branches: [ main ]
jobs:
  publish:
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1
      - uses: hamsaqua/action/.github/actions/release-core@main
        with:
          module: banking-acquirer
          version: ${{ github.sha }}
          core_pat: ${{ secrets.BANK_AQR_PAT }}
          app_pat: ${{ secrets.APP_PAT }}
    runs-on: ubuntu-latest
